*{
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.sectionWeather{
    background: linear-gradient(#280a48, #20043d);
    height: 90vh;
    margin: auto;
    text-align: center;
    padding: 2%;
}

.title{
    font-size:40px;
    background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1%;
    margin-bottom: 2%;
}

.title-para{
    color:white;
    font-weight: bold;
    margin-bottom: 3%;
}

.container{
    background: linear-gradient(40deg, #ea00ff, #03d5ff);
    /* background-image: url(../assets/background-img.jpeg);
    background-size: cover; */
    padding: 2%;  
    margin: auto;
    border-radius: 10px;
}

.container_form input{
    margin-top: 2%;
    margin-bottom: 1%;
    border: 2px solid white;
    width: 40%;
    padding: 1%;
    font-size: large;
    border-radius: 15px;
}

.container_form input:hover{
    border: 2px solid blue;
}

.form__errmsg,.container_errmsg{
    color: red;
    margin:auto;
    background-image: linear-gradient(#cdacef, #c098ea);;
    padding: 1%;
    width: fit-content;
}

.container_form button{
    background-image: linear-gradient(#280a48, #20043d);
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 3%;
    cursor: pointer;
    border: none;
}

.container_form button:active{
    transform: translateY(4px);
}

.container_table{
    margin:auto;
    padding: 1%;
    width: 50%;
    background-image: linear-gradient(#cdacef, #c098ea);
    color: white;
    border-radius: 15px;
    font-size: larger;
}

.container_table div{
    padding: 1%;
}

@media screen and (max-width:600px) {
    .container_table{
        font-size: small;
    }
}


